{% extends './Admin/admin.html.twig' %}

{% block title 'utilisateur' %}

{% block body %}
    <div class="container mt-4">
        <h1>Projets</h1>

        {% for message in app.flashes('success') %}
            <div>
                {{ message }}
            </div>

        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>titre</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>
                        <a href="{{ path('admin.project.edit', {id: project.id }) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.project.delete', {id: project.id}) }}" onsubmit="return confirm('Etes vous vraiment sur??')" style="display: inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">

                            <button class="btn btn-danger">supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{{ path('admin.project.new') }}" class="btn btn-primary">Creer</a>
            <a href="/admin" class="btn btn-secondary">Retour admin</a>

        </div>
        <div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}